{% set markup = section.sectionMarkup|default('') %}
{% set contentItems = section.sectionContent.all() %}

{% for item in contentItems %}
  {% set key = item.contentKey|default('') %}
  {% set kind = item.contentKind.value|default(item.contentKind|default('text')) %}
  {% set value = item.contentValue|default('') %}
  {% if kind == 'image' %}
    {% set managedAsset = item.contentAsset.one() %}
    {% if managedAsset %}{% set value = managedAsset.url %}{% endif %}
  {% endif %}
  {% set replacement = kind == 'text' ? value|e : value|e('html_attr') %}
  {% if key %}
    {% set token = '[[cms:' ~ key ~ ']]' %}
    {% set encodedToken = '%5B%5Bcms:' ~ key ~ '%5D%5D' %}
    {% set safeToken = 'CMS_TOKEN_' ~ key %}
    {% set markup = markup|replace({
      (token): replacement,
      (encodedToken): replacement,
      (safeToken): replacement
    }) %}
  {% endif %}
{% endfor %}

{% set theme = section.sectionTheme.value|default(section.sectionTheme|default('inherit')) %}
{% set width = section.sectionWidth.value|default(section.sectionWidth|default('inherit')) %}
{% set spacing = section.sectionSpacing.value|default(section.sectionSpacing|default('inherit')) %}
{% set background = section.sectionBackground.one() %}
{% set anchor = section.sectionAnchor|default('')|trim %}
{% set extraClasses = section.sectionCssClass|default('')|trim %}
{% set useContainer = section.sectionUseContainer|default(false) %}
{% set hasFrame = theme != 'inherit' or width != 'inherit' or spacing != 'inherit' or background or anchor or extraClasses or useContainer %}

{% if hasFrame %}
  {% set overlay = section.sectionOverlay|default(0) %}
  <div{% if anchor %} id="{{ anchor|e('html_attr') }}"{% endif %}
    class="cms-section-frame cms-theme--{{ theme }} cms-width--{{ width }} cms-spacing--{{ spacing }}{% if background %} cms-has-background{% endif %}{% if extraClasses %} {{ extraClasses|e('html_attr') }}{% endif %}"
    {% if background %}style="--cms-background:url('{{ background.url|e('html_attr') }}');--cms-overlay:{{ overlay / 100 }}"{% endif %}>
    <div class="cms-section-frame__content{% if useContainer %} cms-builder-container{% endif %}">{{ markup|raw }}</div>
  </div>
{% else %}
  {{ markup|raw }}
{% endif %}
